<div style="text-align:center">
  <h1>
    <img src="assets/KaazingLogo.png">
    <br>{{ title }}
  </h1>
</div>
<div class="flex-container">
    <div *ngFor="let item of stocksArray" class="flex-item">
      <div class="sym">{{item.sym}}</div>
      <div class="desc">{{item.name}}</div>
      <div [className]="item.isHigher ? 'higherPrice' : 'lowerPrice'">${{item.price}}</div>
      <div id="chart{{item.sym}}" class="chart">
          <svg width="280" height="185" >
              <polyline
                  fill="none"
                  stroke="#fff"
                  stroke-width="2"
                  [attr.points]="item.chart"/>
            </svg>
      </div>
      <div class="max">High: ${{item.dayMax}}</div>
      <div class="min">Low: ${{item.dayMin}}</div>
    </div>
</div>

